*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* INIZIO HEADER */

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.contenitore {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.contenitore.background {
    background-image:url('./img/background-header.png');
    background-size: 800px 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
}


.blue {
    background-color: #0c325a;
}

nav {
    background-color: #0c325a;
    font-size: 12px;
}

nav img {
    width: auto;
    height: 40px;
    float: left;
    padding-top: 10px;
    padding-right: 50px;
}

nav li {
    font-size: 10px;
    color: white;
    display: inline-block;
    margin: 0 3px;
}

nav .prima-ul {
    float: left;
    padding: 25px 5px;
}

nav .seconda-ul {
    float: right;
    padding: 18px 5px;
}

.seconda-ul .bottone1 {
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid white;
}

.seconda-ul .bottone2 {
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    background-color: #7fb802;
}

/* PARTE CENTRALE HEADER */

.centrale {
    height: 330px;
    position: relative;
}

.testo-centrale {
    width: 400px;
    height:100px;
    color: white;
    position: absolute;
    top: 30%;
}

.testo-centrale h1 {
    margin-bottom: 30px;
}

.testo-centrale .bottone {
    background-color: #7fb802;
    color: white;
    font-size: 10px;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
}

/* BANDA GRIGIA */

.grigio {
    background-color: #d3d3d3;
}

.testo {
    text-align: center;
    padding: 20px;
}

.testo strong {
    font-size: 20px;
    font-weight: 100;
}

.testo p {
    font-size: 15px;
    padding-top: 10px;
    color: grey;

}

/* PARTE CON I TRE PARAGRAFI */

.box {
    width: 33%;
    height: 400px;
    text-align: center;
    float: left;
}

.box img {
    width: 50%;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

.box .titolo-box {
    color: #7fb802;
    font-size: 17px;
}

.box .titolo-box {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.riga {
    color: grey;
    margin: 20px 170px;
}

.box .testo-box {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    color: grey;
}

.contenitore-fototesto{

    width: 80%;
    margin: auto;
    text-align: center;

}

.sezione-s{
  float: left;
  width: 40%;
  text-align: left;
  position: relative;
  margin-right: 20px;
}


.title1{
  text-align: left;
  font-size: 30px;
  padding-top: 40px;
}

.list2{
  text-align: left;
  font-size: 15px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: lightgrey;
}

.sezione-d {
  float: right;
  width: auto;
  text-align: right;
}

.sezione-d img {
  width: 55%;
  padding-top: 30px;
  }

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
#test {
  display: inline-block;
  
}
